<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"right":"2vw","left":"2vw"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-right:2vw;padding-left:2vw"><!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"10vh","bottom":"10vh","right":"2vw","left":"2vw"}},"border":{"left":{"color":"var:preset|color|two-light","style":"solid","width":"4px"},"top":{},"right":{"color":"var:preset|color|two-light","style":"solid","width":"4px"},"bottom":{}}},"layout":{"inherit":true,"type":"constrained"}} -->
<main class="wp-block-group" style="border-right-color:var(--wp--preset--color--two-light);border-right-style:solid;border-right-width:4px;border-left-color:var(--wp--preset--color--two-light);border-left-style:solid;border-left-width:4px;padding-top:10vh;padding-right:2vw;padding-bottom:10vh;padding-left:2vw"><!-- wp:heading {"textAlign":"center","level":2,"fontSize":"medium"} -->
<h2 class="wp-block-heading has-text-align-center has-medium-font-size" id="oops-that-page-can-t-be-found">Oops! That page can’t be found.</h2>
<!-- /wp:heading -->

<!-- wp:paragraph {"align":"center"} -->
<p class="has-text-align-center">It looks like nothing was found at this location.</p>
<!-- /wp:paragraph -->

</main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
