<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"padding":{"right":"2vw","left":"2vw"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:0px;margin-bottom:0px;padding-right:2vw;padding-left:2vw"><!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"2vw","bottom":"2vw","left":"2vw","right":"2vw"}},"border":{"left":{"color":"var:preset|color|two-light","style":"solid","width":"4px"},"top":{},"right":{"color":"var:preset|color|two-light","style":"solid","width":"4px"},"bottom":{}}}} -->
<main class="wp-block-group" style="border-right-color:var(--wp--preset--color--two-light);border-right-style:solid;border-right-width:4px;border-left-color:var(--wp--preset--color--two-light);border-left-style:solid;border-left-width:4px;padding-top:2vw;padding-right:2vw;padding-bottom:2vw;padding-left:2vw"><!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query-title {"type":"archive","align":"wide"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query {"queryId":8,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true},"align":"wide"} -->
<div class="wp-block-query alignwide"><!-- wp:post-template {"layout":{"type":"grid","columnCount":3}} -->
<!-- wp:group {"style":{"spacing":{"padding":{"top":"30px"}}},"layout":{"inherit":false}} -->
<div class="wp-block-group" style="padding-top:30px"><!-- wp:post-featured-image {"isLink":true,"style":{"color":[]}} /-->

<!-- wp:post-title {"isLink":true,"style":{"spacing":{"margin":{"bottom":"calc( 0.5 * var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dgap\u002d\u002dvertical) )"}}},"fontSize":"moderate"} /-->

<!-- wp:post-excerpt {"moreText":"Continue reading","style":{"spacing":{"margin":{"top":"calc( 0.5 * var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dgap\u002d\u002dvertical) )","bottom":"calc( 0.5 * var(\u002d\u002dwp\u002d\u002dcustom\u002d\u002dgap\u002d\u002dvertical) )"}}},"fontSize":"midsmall"} /-->

<!-- wp:post-date {"isLink":true,"style":{"typography":{"fontWeight":"500"}},"fontSize":"midsmall"} /--></div>
<!-- /wp:group -->
<!-- /wp:post-template -->

<!-- wp:query-pagination -->
<!-- wp:query-pagination-previous /-->

<!-- wp:query-pagination-next /-->
<!-- /wp:query-pagination --></div>
<!-- /wp:query --></div>
<!-- /wp:group --></main>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->